@font-face {
    font-family: manropeBold;
    src: url(fonts/Manrope-ExtraBold.ttf);
  }

  @font-face {
    font-family: manrope;
    src: url(fonts/Manrope-Regular.ttf);
  }


body {
    background-color: #9695B9;
    color: #363960;
    font-family: manrope, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
}

a:link, a:visited {
    color:white;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

a:hover{
    opacity: 60%;
}

h1 {
    font-family: manropeBold, Helvetica, sans-serif;
}

h4 {
    font-family: manropeBold, Helvetica, sans-serif;
    display: inline-block; 
	text-align: left;

}

.description {
    text-align: center;

}

ul, ol{
    display: inline-block; 
	text-align: left;
    color: white;
}

img {
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    border-color: #B2AFCC;
    margin-top: 10px;

    max-width: 50%;
}

@media only screen and (max-width: 325px) {

    img{
        max-width: 90%;
    }

    h4{
        margin-bottom: -20px;
    }
}



