body {
    text-align: center;
}

.alpha__microinteraction {
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
    padding-left: -20px;
    height: 200px;
    overflow: hidden;

    /* helping visualize */
    border: 3px solid green; 

    /* centering microinteraction */
    display: flex;
    justify-content: center;
    align-items: center;
    

    /*hover off animation*/
    
}


img {
    max-width: 100px;    
    position: relative;
    /* animation: 3s ease-in-out .25s tire__spinOUT; */
}

.tire {
    /* cursor: pointer; */
    display: inline-block;
    /* padding-right: 100px; */
    position: relative;
    /* top: 100px;
    left: 0px; */

    transition: all;
    transition-duration: 2s;
    transition-delay: .25s;
    transition-timing-function: ease-in-out;
}

/* img:hover*/ 
.tire:hover { 
    /* animation: 3s ease-in-out .25s tire__spinIN;
    animation-fill-mode: forwards; */
    /* transform: translateY(-100px); */
    transform: translateX(525px) rotate(360deg);
}








/* @keyframes tire__spinIN {
    0% {
        transform: translateY();
        transform: translateX(0)
    }
  
    35% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
        transform: translateX(525px);

    }
  }

  @keyframes tire__spinOUT {
    0% {
        transform: rotate(360deg);
        transform: translateX(-525px);
        
        
    }
  
    35% {
        transform: rotate(0deg);
    }

    100% {
        transform: translateY();

    }
  } */
  

.menu {
    display: absolute;
    margin-left: -10px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
    margin-left: -10px;
}

li {
    opacity: 0;

    font-size: 28px;
    display: inline;
    padding-right: 10px;
}

.alpha__microinteraction:hover #music #merch #video #photo__diary {
    animation: fadeIn 2s ease-in-out 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
