body {
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: #9695B9;
}

.alpha__microinteraction {
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
    padding-left: -20px;
    height: 200px;
    overflow: hidden;

    /* helping visualize */
    /* border: 3px solid white;  */

    /* centering microinteraction */
    display: flex;
    justify-content: center;
    align-items: center;
    

    /*hover off animation*/
    
}


img {
    max-width: 100px;    
    position: relative;
    /* animation: 3s ease-in-out .25s tire__spinOUT; */
}

/* .tire_container {
    padding-left: 10rem;
} */
.tire {
    /* cursor: pointer; */
    display: inline-block;
    /* padding-right: 100px; */
    position: relative;
    left: 4rem;
    transition: all;
    transition-duration: 2s;
    transition-delay: .25s;
    transition-timing-function: ease-in-out;
}

/* img:hover*/ 
.tire:hover { 
    /* animation: 3s ease-in-out .25s tire__spinIN;
    animation-fill-mode: forwards; */
    /* transform: translateY(-100px); */
    transform: translateX(525px) rotate(360deg);
}








/* @keyframes tire__spinIN {
    0% {
        transform: translateY();
        transform: translateX(0)
    }
  
    35% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
        transform: translateX(525px);

    }
  }

  @keyframes tire__spinOUT {
    0% {
        transform: rotate(360deg);
        transform: translateX(-525px);
        
        
    }
  
    35% {
        transform: rotate(0deg);
    }

    100% {
        transform: translateY();

    }
  } */
  

.menu {
    display: flex;
    align-items: center;
    width: 100%;
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
    margin-left: -10px;
}

/* .content:hover {

} */

li {
    color: #9695B9;
    /* animation: fadeIn .9s 1; */
    animation-fill-mode: forwards;
    font-size: 28px;
    display: inline;
    padding-right: 10px;
}


/* li:hover{
    animation: fadeIn 0.9s 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
} */

.menu:hover .music {
    animation: fadeIn 1s ease-in-out .5s;
    animation-fill-mode: forwards;
}

.menu:hover .merch {
    animation: fadeIn 1s ease-in-out 1s;
    animation-fill-mode: forwards;
}

.menu:hover .video {
    animation: fadeIn 1s ease-in-out 1.25s;
    animation-fill-mode: forwards;

}

.menu:hover .photo__diary {
    animation: fadeIn 1s ease-in-out 1.5s;
    animation-fill-mode: forwards;
}
/* 
li:nth-child(5n+1) {
    animation-delay: 0.5s;
  }
  
  li:nth-child(5n+2) {
    animation-delay: 1.0s;
  }
  
  li:nth-child(5n+3) {
    animation-delay: 1.5s;
  }
  
  li:nth-child(5n+4) {
    animation-delay: 2.0s;
  } */



  


  @keyframes fadeIn {
    0% {
      color: #9695B9;
    }
    100% {
      color: white;
    }
  }


  * {
        box-sizing: border-box;
      }
      
.description {
    margin-left: 20%;
    margin-right: 20%;
}
      .row {
        display: flex;
        flex-wrap: wrap;
      }
      
      .column {
        flex: 25%;
        padding: 20px;
        text-align: left ;
      }
      
      @media screen and (max-width: 992px) {
        .column {
          flex: 50%;
        }
      }
      
      @media screen and (max-width: 600px) {
        .row {
          flex-direction: column;
        }
      }